/nbproject/
/app/etc/local.xml
/var/
/vendor/
media/*
.tags*
/downloader/
/app/code/local/Kaskusnetworks/Ci/
/app/etc/modules/Kaskusnetworks_Ci.xml
/app/code/local/Kaskusnetworks/Logger/
/app/etc/modules/Kaskusnetworks_Logger.xml
/shell/deploy.php
/shell/maintenance.php

/app/code/community/FireGento/Logger/
/app/etc/modules/FireGento_Logger.xml
/lib/XMPPHP/
/lib/rsyslog/
/lib/Graylog2-gelf-php/
/shell/logger.php
/skin/adminhtml/default/default/firegento_logger.css
/app/design/adminhtml/default/default/template/firegento_logger/
/app/design/adminhtml/default/default/layout/firegento_logger.xml
rest_test.php