<?xml version="1.0"?>
<config>
    <modules>
        <Kaskusnetworks_Mini>
            <version>0.1.0</version>
        </Kaskusnetworks_Mini>
    </modules>
    <global>
        <models>
            <kaskusnetworks_mini>
                <class>Kaskusnetworks_Mini_Model</class>
                <resourceModel>kaskusnetworks_mini_resource</resourceModel>
            </kaskusnetworks_mini>
            <kaskusnetworks_mini_resource>
                <class>Kaskusnetworks_Mini_Model_Resource</class>
            </kaskusnetworks_mini_resource>
            <adminhtml>
                <rewrite>
                    <system_config_source_category>Kaskusnetworks_Mini_Model_System_Config_Source_Category</system_config_source_category>
                </rewrite>
            </adminhtml>
        </models>
        <resources>
            <kaskusnetworks_mini_setup>
                <setup>
                    <module>Kaskusnetworks_Mini</module>
                    <class>Kaskusnetworks_Mini_Model_Entity_Setup</class>
                </setup>
            </kaskusnetworks_mini_setup>
        </resources>
        <blocks>
            <kaskusnetworks_mini>
                <class>Kaskusnetworks_Mini_Block</class>
            </kaskusnetworks_mini>
            <adminhtml>
                <rewrite>
                    <customer_group_grid>Kaskusnetworks_Mini_Block_Adminhtml_Customer_Group_Grid</customer_group_grid>
                    <customer_group_edit_form>Kaskusnetworks_Mini_Block_Adminhtml_Customer_Group_Edit_Form</customer_group_edit_form>
                    <customer_edit_tab_view_accordion>Kaskusnetworks_Mini_Block_Adminhtml_Customer_Edit_Tab_View_Accordion</customer_edit_tab_view_accordion>
                    <customer_edit_tabs>Kaskusnetworks_Mini_Block_Adminhtml_Customer_Edit_Tabs</customer_edit_tabs>
                    <system_design_grid>Kaskusnetworks_Mini_Block_Adminhtml_System_Design_Grid</system_design_grid>
                    <system_store_tree>Kaskusnetworks_Mini_Block_Adminhtml_System_Store_Tree</system_store_tree>
                </rewrite>
            </adminhtml>
        </blocks>
    </global>
</config>