<?xml version="1.0"?>
<config>
    <modules>
        <Kaskusnetworks_Stubs>
            <version>0.0.1</version>
        </Kaskusnetworks_Stubs>
    </modules>
    <global>
        <models>
            <kaskusnetworks_stubs>
                <class>Kaskusnetworks_Stubs_Model</class>
            </kaskusnetworks_stubs>
        </models>
        <blocks>
            <kaskusnetworks_stubs>
                <class>Kaskusnetworks_Stubs_Block</class>
            </kaskusnetworks_stubs>
        </blocks>
        <helpers>
            <kaskusnetworks_stubs>
                <class>Kaskusnetworks_Stubs_Helper</class>
            </kaskusnetworks_stubs>
        </helpers>
    </global>
    <frontend>
        <routers>
            <kaskusnetworks_stubs>
                <use>standard</use>
                <args>
                    <module>Kaskusnetworks_Stubs</module>
                    <frontName>stubs</frontName>
                </args>
            </kaskusnetworks_stubs>
        </routers>
        <layout>
            <updates>
                <kaskusnetworks_stubs>
                    <file>kaskusnetworks_stubs.xml</file>
                </kaskusnetworks_stubs>
            </updates>
        </layout>
    </frontend>
</config>